html, body {
    background-color: black;
    color: white;
}

#viewport {
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: solid 1px white;
}

.colorPalette {
    width: 256px;
    height: 16px;
    cursor: pointer;
}

#selectionPalette {
    position: absolute;
}
.colorPalette#paletteBlueYellow {
    background-image: url('paletteBlueYellow.png');
}
.colorPalette#paletteFrequency {
    background-image: url('paletteFrequency.png');
}
.colorPalette#paletteHue {
    background-image: url('paletteHue.png');
}
.colorPalette#paletteRedGreen {
    background-image: url('paletteRedGreen.png');
}
.colorPalette#paletteRedYellow {
    background-image: url('paletteRedYellow.png');
}
.colorPalette#paletteWavelength {
    background-image: url('paletteWavelength.png');
}